@page "/forum"
@using TheDialogueSpace.Data.Froum
@using TheDialogueSpace.Services
@inject IForumService ForumService

<h2 class="text-2xl font-bold mb-4">🗣️ انجمن گفت‌وگو</h2>

@if (categories == null)
{
    <p>در حال بارگذاری...</p>
}
else
{
    <div class="space-y-4">
        @foreach (var category in categories)
        {
            <div class="border rounded p-4 shadow-sm hover:bg-gray-50">
                <h3 class="text-xl font-semibold">
                    <a href="@($"/thread/{category.Id}")">@category.Title</a>
                </h3>
               </div>
        }
    </div>
}


@code {
    private List<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await ForumService.GetAllCategories();
    }
}